.sector-1{
    .form-content{
        display: inline-block;
        margin-top:50px;

        .title{
            display: inline-block;
            margin-top: 45px;
            color: #b11116;
            font-size: 1.8rem;
        }
        .description{
            margin: 0 25px;
        }
    
        .value{
            font-size: 70px;
            margin: 20px;
        }
        .calculator{
            margin: 10px;
            display:block;
            background-color: #f57320;
            color: #ffffff;
            font-weight: bold;
            
        }
        .reset{
            margin: 10px;
            display:block;;
        }
    }
    
}